---
interface Props {
	bannerUrls: string[];
}

const { bannerUrls } = Astro.props;
---

<section class="banner-section">
	<div class="banner-section-frame">
		<div
			id="bannerCarousel"
			class="carousel slide"
			data-bs-ride="carousel"
			data-bs-interval="5000"
		>
			<div class="carousel-inner">
				{
					bannerUrls.map((url, index) => (
						<div class:list={["carousel-item", index === 0 && "active"]} key={url}>
							<img src={url} alt={`Banner ${index + 1}`} loading="lazy" class="d-block w-100 rounded-3" />
						</div>
					))
				}
			</div>
			{
				bannerUrls.length > 1 && (
					<>
						<button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
						<div class="carousel-indicators">
							{
								bannerUrls.map((_, index) => (
									<button
										type="button"
										key={`dot-${index}`}
										data-bs-target="#bannerCarousel"
										data-bs-slide-to={index}
										class:list={[index === 0 && "active"]}
										aria-current={index === 0 ? "true" : undefined}
										aria-label={`Slide ${index + 1}`}
									/>
								))
							}
						</div>
					</>
				)
			}
		</div>
	</div>
</section>
