---
import { getLanguageSwitchOptions, getUiTranslations } from "../lib/i18n";

interface Props {
	fullWidth?: boolean;
}

const { fullWidth = false } = Astro.props;
const { t, language } = getUiTranslations(Astro);
const options = getLanguageSwitchOptions(Astro.url, language);
---

<div class:list={["language-switch", fullWidth && "language-switch-full"]} role="group" aria-label={t("headings.languageSwitcher")}>
	{
		options.map((option) => (
			<a
				class:list={["language-switch-link", option.isActive && "is-active"]}
				href={option.href}
				aria-current={option.isActive ? "true" : undefined}
			>
				{option.code.toUpperCase()}
			</a>
		))
	}
</div>
